<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: common_header(~{::title}, ~{:://head/script})">
	<title>Простой чат</title>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/webjars/sockjs-client/sockjs.js}"></script>
	<script th:src="@{/webjars/stomp-websocket/stomp.js}"></script>
	<script defer th:src="@{/js/app.js}"></script>
</head>
<body>
	<nav class="navbar navbar-dark p-3">
		<a class="navbar-brand" href="/chat-ui">
			<h1>Простой чат</h1>
		</a>
		<div class="dropdown">
			<button id="dropdownMenuButton" class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Привет, <span id="from" th:text="${#authentication.name}"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
				<li>
					<a class="dropdown-item" href="javascript:void(0)" onclick="disconnect()"><i class="fas fa-sign-out-alt"></i> Выйти</a>
				</li>
			</ul>
		</div>
	</nav>

	<main class="container pt-5">
		<div class="row">
			<div class="col-md-6">
				<div class="mb-3" id="users">
					<span id="active-users-span"></span>
					<ul id="active-users" class="list-group list-group-horizontal-sm">
					</ul>
				</div>

				<div class="mb-3" id="divSelectedUser" style="display: none;">
					Выбран <span id="selectedUser" class="badge bg-secondary"></span>
				</div>

				<div class="mb-3">
					<div class="input-group" id="sendmessage">
						<input type="text" id="message" class="form-control" placeholder="Сообщение">
						<div class="input-group-append">
							<button id="send" class="btn btn-primary" onclick="send()">
								<i class="fas fa-paper-plane"></i>
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div id="content"></div>
				<div>
					<span class="float-end">
						<button id="clear" class="btn btn-primary" onclick="clearMessages()" style="display: none;">Очистить</button>
					</span>
				</div>
				<div id="response"></div>
			</div>
		</div>
	</main>

	<footer th:replace="fragments/common :: common_footer"></footer>
</body>
</html>